@model Cliente

@{
    ViewData["Title"] = "Crear Cliente";
}

<h1>Crear Cliente</h1>

<form asp-action="CrearCliente">
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-primary" />
    </div>
</form>