@model IEnumerable<Libro>

@{
    ViewData["Title"] = "Libros";
}

<h1>Libros</h1>

<p>
    <a asp-action="CrearLibro" class="btn btn-default">Crear Libro</a>
    <a asp-action="CrearCliente" class="btn btn-default">Crear Cliente</a>
    <a asp-action="CrearAlquiler" class="btn btn-primary">Alquilar</a>
    <a asp-action="CrearDevolucion" class="btn btn-secondary">Devolver</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <th>Cantidad de Copias</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Titulo</td>
                <td>@item.Autor</td>
                <td>@item.CantidadCopias</td>
            </tr>
        }
    </tbody>
</table>
